@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700;900&display=swap');

body{
    background-color: #FCFBF2;
    color: #535c68;
    margin: 0;
    padding: 0;
}


nav ul#menu{
    background-color: #B2C069;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    
}

nav li{
    display: inline-block;
    line-height:60px;
    
}
h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    text-align: center;
}
p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
label{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}


#menu a:link, a:visited{
    text-transform: uppercase;
    text-decoration: none;
    padding: 19px;

    color: grey;
    font-weight: 700;
}

#menu a:hover, a:active{
    background-color: #354561;
    color: white;
}

.galeria{
    width: 400px;
    height: 200px;
    border-radius: 40px;
}

.galeria:hover{
    border: 2px solid rgb(72, 78, 75);
    
}

#gallery{
    text-align: center;
    color: gray;
}

#gallery h1{
    font-weight: 900;
    color: #535c68;
}

.galeria:hover{
    width: 420px;
    height: 220px;
}

#banner{
    background-image: url(../img/2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
}


input{
    padding-right: 50px;
    margin-right: 20px;
    padding-left: 20px;
    justify-content: center;
    width: 10%;
}


#nome{
    display: block;
    margin: 20px;
}
#email{
    display: block;
    margin: 20px;
}

textarea{
   width: 100%;
   margin: 20px;
}
